.app{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-height: 100vh;
}

.input{
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
 
.fileButtonText{
  line-height: 1;
  margin-top: 1px;
}
 
.fileButton{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 306px;
  height: 78px;
  margin: 0 auto;
  background: #87D534;
  color: #fff;
  line-height: 40px;
  font-size: 30px;
  font-weight: 600;          
  border-radius: 10px;
  cursor: pointer;
}

.fileButton:hover{
  background: #7ec92f;
}